<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        bootstrap="Tests/bootstrap.php"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <testsuites>
        <testsuite name="GesdinetJWTRefreshTokenBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./spec</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>

    <php>
        <const name="JWTREFRESHTOKENBUNDLE_MONGODB_SERVER" value="mongodb://localhost:27017" />
        <const name="JWTREFRESHTOKENBUNDLE_MONGODB_DATABASE" value="jwt_refresh_token_bundle_odm_tests" />
    </php>
</phpunit>
